@model IEnumerable<Controle_Estoque_Basico.Models.Categoria>

<table id="dtCategorias" class="table table-hover">
    <thead>
        <tr>
            <th class="p-4">
                <div class="form-check">                   
                    <label class="form-check-label p-2">                        
                        <input class="form-check-input" type="checkbox" id="checkAll">
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAT_NOME)
            </th>     
             <th>
                @Html.DisplayNameFor(model => model.CAT_DESCRICAO)
            </th>   
       
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-left">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" id="@item.CAT_ID" name="LISTACHECK">
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CAT_NOME)
                </td>  
                 <td>
                    @Html.DisplayFor(modelItem => item.CAT_DESCRICAO)
                </td>  
              
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CAT_ID" title="Editar">  <i class="fas fa-edit"></i></a> &nbsp;
                    <a asp-action="Details" asp-route-id="@item.CAT_ID" title="Detalhes"><i class="fas fa-search"></i></a> &nbsp;                  
                    <a title="Excluir" class="btn-md" onclick="ExcluirCategoriasPartial(@item.CAT_ID)"> <i class="fas fa-trash" style="cursor: pointer;"></i></a>
                   
                </td>
            </tr>
        }
    </tbody>
</table>

